/* 
	CSS by Dan Høegh
	UCN MMD 2020 

*/

body {
	font-family: sans-serif;
	padding: 5vw;
	font-size: 4vw;
	line-height: 1.4;
}

@media (min-width: 641px) {
	body {
		padding: .8rem;
		font-size: 1rem;
	}
}


/* test styles */

body {
	background-color: var(--frp-color-background);	
	padding: 0;
}

h1 {
	margin-top: var(--frp-density-l);
}

/* button */
.btn {
	display: inline-block;
	text-decoration: none;
	border-radius: var(--frp-radius-component-s);
	background-color: var(--frp-color-primary);
	color: var(--frp-color-on-primary);
	box-shadow: var(--frp-shadow);
	transition: box-shadow .2s ease-out;
}

.btn.mwa {
	background-color: var(--frp-color-accent);
	color: var(--frp-color-on-accent);
}

.btn:active {
	box-shadow: var(--frp-shadow-depressed);
}

.responsive-video {
	width: 100%;
	height: 0;
}

.ratio-16-9 {
	padding-bottom: 56.25%;
}

.video-js .vjs-big-play-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media (min-width: 641px){
	.flex > div {
		width: 50%;
	}
}

@media (max-width: 640px){
	.flex {
		display: block;
	}

	.flex > div {
		width: 100%;
		margin-bottom: var(--frp-density-m);
	}
}

h1, p {
	margin-bottom: var(--frp-density-m);
}
