/* 
	CSS by Dan Høegh
	UCN MMD 2020 

*/

body {
	font-family: sans-serif;
	padding: 5vw;
	font-size: 4vw;
	line-height: 1.4;
}

@media (min-width: 641px) {
	body {
		padding: .8rem;
		font-size: 1rem;
	}
}


@media (min-width: 641px){
	.flex > div {
		width: 50%;
	}
}



@media (max-width: 640px){
	.flex {
		display: block;
	}

	.flex > div {
		width: 100%;
		margin-bottom: var(--frp-density-l);
	}
}

h1, h2, p {
	margin-top: var(--frp-density-l);
	margin-bottom: var(--frp-density-l);
}




/* test styles */

body {
	background-color: var(--frp-color-background);	
	padding: 0;
	overflow-x: hidden;
}

h1 {
	margin-top: var(--frp-density-xl);
}

header nav {
	margin: var(--frp-density-s) var(--frp-density-xl);
	display: flex;
	justify-content: space-between;
}

header nav > a {
	display: inline-block;
	width: 10vw;
} 

header nav a img {
	width: 100%;
}

header nav ul {
	display: flex;
	flex-basis: content;
	margin: 0;
	padding: 0;
}

header nav ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}

header nav ul li a {
	display: block;
	width: 10vw;
	color: var(--frp-color-primary);
	text-decoration: none;
	font-size: 1.5rem;
	height: 10vw;
	line-height: 10vw;
	text-align: center;
} 

header nav ul li a:hover,
header nav ul li a.active {
	text-decoration: underline;
}

/* specific for about page */

.page-about header nav {
	margin: calc(var(--frp-density-s)) var(--frp-density-xl);
	display: flex;
	justify-content: space-between;
}

.page-about header a {
	width: 5vw;
}

.page-about header nav ul li a {
	height: 5vw;
	line-height: 5vw;
	width: 10vw;
} 

/* generic stuff */

.responsive-video {
	width: 100%;
	height: 0;
}

.ratio-16-9 {
	padding-bottom: 56.25%;
}

.video-js .vjs-big-play-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.background-video-overlay-wrapper {
	position: relative;
}

.background-video-overlay {
	background-color: rgba(0,0,0,.7);
	position: absolute;
	z-index: 2;
	top: 0;
}

.background-video-content .position-wrapper {
	text-align: center;
	margin-top: 10vw;
}

.background-video-content h1 {
	color: var(--frp-color-primary);
	margin-top: 0;
	font-size: 7vw;
}

.background-video-content p {
	color: var(--frp-color-primary);
	font-size: 2vw;
}